/* Custom font import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Quill Editor Styles */
.ql-picker.ql-font {
    .ql-picker-item {
        font-size: 0;

        &:before {
            content: attr(data-value) !important;
            font-size: 14px;
        }
    }
}

.ql-picker.ql-font {
    .ql-active {
        &:before {
            content: attr(data-value) !important;
            font-size: 14px;
        }
    }
}

.ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
    font-family: "Arial", cursive;
    ;
    content: "Arial" !important;
}



.ql-picker.ql-font .ql-picker-label[data-value="Georgia"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Georgia"]::before {
    font-family: "Georgia", cursive;
    ;
    content: "Georgia" !important;
}


.ql-picker.ql-font .ql-picker-label[data-value="Verdana"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Verdana"]::before {
    font-family: "Verdana", cursive;
    ;
    content: "Verdana" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Courier"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Courier"]::before {
    font-family: "Courier", cursive;
    ;
    content: "Courier" !important;
}


/* Set content font-families */
.ql-font-Arial {
    font-family: "Arial";
}

.ql-font-Georgia {
    font-family: "Georgia";
}

.ql-font-Verdana {
    font-family: "Verdana";
}

.ql-font-Courier {
    font-family: "Courier";
}

/* Rest of your CSS styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    margin: 0;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .container .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .container .ql-toolbar.ql-snow {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .editor-page {
    display: flex;
    transition: all 0.3s ease;
    height: 100vh;
  }
  
  .history-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
    padding: 20px;
    background-color: #292b2c; /* Dark gray background */
    color: #fff; /* White text */
    transition: width 0.3s ease;
    transform: translateX(-100%);
    overflow-y: auto;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
  }
  .pagination {
    margin-top: auto;
  }
  
  .history-sidebar.open {
    transform: translateX(0);
  }
  
  .history-sidebar .toggle-button {
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .history-sidebar .toggle-button:hover {
    background-color: #555;
  }
  
  .history-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .history-sidebar li {
    margin-bottom: 5px;
  }
  
  
  @media (max-width: 768px) {
    .editor-container {
      flex-direction: column-reverse;
    }
  
    .editor-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .history-sidebar.open .toggle-button {
      display: none;
    }
  
    .history-sidebar .toggle-button-mobile {
      display: block;
      margin-top: 10px;
      text-align: center;
      padding: 10px;
      background-color: #444;
      color: #fff;
      border: none;
      border-radius: 5px;
      outline: none;
      transition: background-color 0.3s ease-in-out;
    }
  
    .history-sidebar {
      width: 100%;
      height: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
      box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
    }
  
    .history-sidebar.open {
      transform: translateX(0);
      height: 100%;
    }
  
    .history-sidebar.closed {
      width: 0;
      flex: 0;
    }
  
    .history-sidebar ul {
      list-style-type: none;
      padding: 0;
      margin: 20px 0;
    }

    .history-sidebar li {
      margin-bottom: 10px;
    }
  }
  
  .toggle-history-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-history-button:hover {
  background-color: #555;
}

.editor-container {
  flex: auto;
  padding: 20px;
  background-color: #fff; /* White background for content area */
  transition: flex 0.3s ease;
}

.full-width {
  width: 100vw;
}
  
.history-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.history-list {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.history-item {
  padding: 10px;
  background-color: #ccc; /* Dark gray background */
  color: #fff; /* White text */
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s; /* Add a smooth transition effect */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis;
  display: flex; /* Use flexbox to arrange the icon and text horizontally */
  align-items: center; /* Vertically center the items within the list item */
  justify-content: space-between; 
}

.history-item:hover {
  cursor: pointer;
  background-color: #555; /* Slightly lighter gray on hover */
  text-decoration: none;
}
  .history-anchor:hover{
    text-decoration: none;
  }
  .history-icons {
    display: flex; /* Use flexbox to arrange the icons and text horizontally */
    align-items: center; /* Vertically center the items within the history-icons span */
  }
  .edit-icon {
    margin-right: 5px; /* You can adjust the margin as needed */
  }