#header {
    background-color: #212529;
    padding: 10px;
  }
  
  #header a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-content {
    margin-top: 20px;
  }
  
  #footer {
    background-color: #212529;
    padding: 10px;
    text-align: center;
  }