.incorrecttext {
  background-color: #ee8888; /* Replace #ff0000 with your desired background color */
  padding: 4px;
  border-radius: 5%;
}

.suggestions {
  background-color: #93e483; /* Replace #ff0000 with your desired background color */
  padding: 4px;
  border-radius: 5%;
}

.popup-grammar-checker {
  position: absolute;
  background-color: #d6d5d5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: auto;
  max-height: 80vh;
  border: 1px solid #d6d5d5;
  border-radius: 3%;
  padding: 20px;
  z-index: 9999;
  overflow: auto;
}

.div-grid {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.popup-grammar-checker-header {
  margin: 10px;
}

.grammar-correction-button {
  margin: 10px;
  padding: 10px;
  width: 180px;
  background-color: rgb(29, 189, 1);
  color: #fff;
  font-size: medium;
  font-weight: 500;
  border-radius: 5%;
  border: none;
}

.grammar-correction-close-button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: rgb(201, 64, 30);
  color: #fff;
  font-size: medium;
  font-weight: 500;
  border-radius: 5%;
  border: none;
}
